<h1><a href="/">isMusic</a></h1><br>

{{#if userName}}
    <h3><a href="/lk">Личный кабинет</a></h3><br>
{{else}}
    <h3><a href="/login">Вход</a></h3><br>
{{/if}}

<form action="/" method="post">
    <input id="artist" type="text" name="artist">
    <input id="find" type="submit" value="Найти">
</form><br>

{{#if message}}
    <span style="color:red">{{message}}</span>
{{else}}
    <ul>
        {{#each artists}}
            <h3>{{this.title}}</h3>
            {{#if ../albumMessage}}
                <span style="color:red">{{../albumMessage}}</span>
            {{else}}
                {{#if ../finalAlbums}}
                    {{#each ../finalAlbums}}
                        <li>{{this.title}} [{{this.year}}]</li>
                    {{/each}}
                    <br><strong><a href="/add">Добавить в избранное</a></strong>
                {{/if}}
            {{/if}}
        {{/each}}
    </ul>
{{/if}}

{{#if userName}}
    <h3><a href="/logout">Выход</a></h3><br>
{{/if}}
