<h1><a href="/">isMusic</a></h1><br>

{{#if userName}}
    <h2>Добро пожаловать, <a href="/lk">{{userName}}!</a></h2><br>
{{/if}}

{{#if artists}}
    <form action="/lk" method="post">
        <input id="firstname" type="submit" value="Проверить обновления">
    </form><br>
    {{#if checkMessages}}
        {{#each checkMessages}}
            <span style="color:red">{{this}}</span><br><br>
        {{/each}}
    {{/if}}
    <h4>Мои избранные исполнители:</h4><br>
    {{#each artists}}
        <ul>
            <li><a href="/lk/{{this.artistId}}">{{this.artist}}</a></li>
            <a href="/delete/{{this.artistId}}">Удалить</a>
        </ul>
    {{/each}}
    {{#if duplicateError}}
        <span style="color:red">{{duplicateError}}</span><br>
    {{/if}}
{{else}}
    <h3>У вас нет избранных исполнителей.</h3>
{{/if}}

{{#if userName}}
    <br><h3><a href="/logout">Выход</a></h3><br>
{{/if}}
